/PRATICA/AULA02/nbproject/private/
/PRATICA/AULA02/build/
/PRATICA/AULA02/dist/
/PRATICA/AULA03/nbproject/private/
/PRATICA/AULA03/build/
/PRATICA/AULA03/dist/
/PRATICA/AULA04/nbproject/private/
/PRATICA/AULA04/build/
/PRATICA/AULA04/dist/
/PRATICA/AULA05/nbproject/private/
/PRATICA/AULA05/build/
/PRATICA/AULA05/dist/
/PRATICA/AULA01/nbproject/private/
/PRATICA/AULA01/build/
/PRATICA/AULA01/dist/
/TEORIA/AULA01/nbproject/private/
/TEORIA/AULA01/build/
/TEORIA/AULA01/dist/
/TEORIA/AULA02/nbproject/private/
/TEORIA/AULA02/build/
/TEORIA/AULA02/dist/
/TEORIA/AULA03/nbproject/private/
/TEORIA/AULA03/build/
/TEORIA/AULA03/dist/
/TEORIA/AULA04/nbproject/private/
/TEORIA/AULA04/build/
/TEORIA/AULA04/dist/
/TEORIA/AULA05/nbproject/private/
/TEORIA/AULA05/build/
/TEORIA/AULA05/dist/
/TEORIA/AULA06/nbproject/private/
/TEORIA/AULA06/build/
/TEORIA/AULA06/dist/
